body {
    background-color: #242121CC;
}

#navbar-full {
    background-color: rgb(36, 33, 33);
    height: min-content;
    color: white;
}

#navbar-icon {
    width: 55px;
}

#navbar-webtitle {
    font-family: 'JetBrains Mono';
    font-size: 16px;
    font-weight: bold;
}

#navbar-settings-carrito {
    margin: 2%;
}

#navbar-navegador {
    display: flex;
}

#busqueda-producto {
    background-color: rgb(36, 33, 33);
    border-color: gray;
    font-size: 13px;
}

.navbar-brand, .nav-link, #cart-button, #logo-button {
    font-family: 'JetBrains Mono';
    font-size: 16px;
    color: white;
}

form {
    display: flex;
    flex-direction: row;
  
    border: 0.1rem solid;
    border-radius: 8px;
    border-color: gray;

    padding: 1px;
}
input {
    flex-grow: 2;
    border: none;
    color: white;
}

input:focus {
    outline: none;
}

#search-button {
    /* Just a little styling to make it pretty */
    border:1px solid black;
    color:gray;
}

#search-input {
    background-color: rgb(36, 33, 33);
    font-size: 14px;
}

#search-button, #cart-button, #logo-button {
    background-color: rgb(36, 33, 33);
    border: 0;
}

#search-div {
}

#carouselExampleCaptions {
}