body {
    background-color: gray;
}

#navbar-full {
    background-color: rgb(36, 33, 33);
    height: min-content;
}

#navbar-icon {
    width: 55px;
}

#navbar-webtitle {
    font-family: 'JetBrains Mono';
    font-size: 16px;
    font-weight: bold;
}

#navbar-settings {
    margin: 2%;
    color: rgb(78, 78, 78);
}

#navbar-navegador {
    display: inline;
    font-size: 3em;
}

.navbar-brand, .nav-link {
    font-family: 'JetBrains Mono';
    font-size: 16px;
    color: white;
}