<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    {% load static %}
    {% load static %}
    <link rel="icon" href="{% static 'img/Icon-Black.png' %}" type="image/x-icon"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/head-foot.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {% include 'base/header.html' %}
        <section class="h-100 h-custom" style="background-color: gray;">
            <form action="{% url 'carrito' %}" method="POST">
                {% csrf_token %}

                {% for producto in productos %}
                <div class="producto">
                    <h2>{{ producto.nombre }}</h2>
                    <p>{{ producto.descripcion }}</p>
                    <p>Precio: ${{ producto.precio }}</p>
                    <!-- Añade más detalles del producto según sea necesario -->
                </div>
                {% endfor %}
                <div class="container py-5 h-100" style="background-color: gray">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-8">
                                            <div class="p-5">
                                                <div class="d-flex justify-content-between align-items-center mb-5">
                                                    <h1 class="fw-bold mb-0">Carrito</h1>
                                                </div>
                                                <hr class="my-4">

                                                

                                                <div class="pt-5">
                                                    <h6 class="mb-0"><a href="{% url 'index' %}" class="text-body"><i
                                                                class="fas fa-long-arrow-alt-left me-2"></i>Regresar a inicio</a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 bg-body-tertiary">
                                            <div class="p-5">
                                                <h3 class="fw-bold mb-5 mt-2 pt-1">Resumen</h3>
                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between mb-4">
                                                    <h5 class="text-uppercase">items </h5>
                                                </div>

                                                <h5 class="text-uppercase mb-3">Método de pago</h5>

                                                <div class="mb-4 pb-2">
                                                    <select data-mdb-select-init>
                                                        <option value="1">Seleccione método</option>
                                                        <option value="2">Débito</option>
                                                        <option value="3">Crédito</option>
                                                        <option value="4">Transferencia</option>
                                                        <option value="4">Paypal</option>
                                                    </select>
                                                </div>

                                                
                                                <hr class="my-4">

                                                <div class="d-flex justify-content-between mb-5">
                                                    <h5 class="text-uppercase">Total</h5>
                                                </div>

                                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                                    class="btn btn-dark btn-block btn-lg"
                                                    data-mdb-ripple-color="dark">Pagar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    {% include 'base/footer.html' %}
    {% load static %}
    <script src = "{% static 'js/carrito.js' %}"></script>
</body>
</html>
