<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Click Development</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/Icon-Black.png' %}" type="image/x-icon"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
            event.preventDefault();

            var username = $('#username').val();
            var email = $('#email').val();
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
            var firstName = $('#firstName').val();
            var lastName = $('#lastName').val();
            var age = $('#age').val();
            var dateOfBirth = $('#dateOfBirth').val();
            var phoneNumber = $('#phoneNumber').val();

            var usernameRegex = /^[a-zA-Z0-9._-]+$/;
            var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/; // Al menos una letra, un número y un mínimo de 8 caracteres
            var ageRegex = /^\d{1,3}$/; // Edad entre 1 y 999
            var dateOfBirthRegex = /^\d{4}-\d{2}-\d{2}$/; // Fecha de nacimiento en formato YYYY-MM-DD
            var phoneNumberRegex = /^\d{9,15}$/; // Número de teléfono entre 9 y 15 dígitos

            if (!usernameRegex.test(username)) {
                alert('Por favor, introduce un nombre de usuario válido.');
                return false;
            }

            if (!emailRegex.test(email)) {
                alert('Por favor, introduce un correo electrónico válido.');
                return false;
            }

            if (!passwordRegex.test(password)) {
                alert('La contraseña debe tener al menos una letra, un número y un mínimo de 8 caracteres.');
                return false;
            }

            if (password!= confirmPassword) {
                alert('Las contraseñas no coinciden.');
                return false;
            }

            if (!ageRegex.test(age)) {
                alert('Por favor, introduce una edad válida.');
                return false;
            }

            if (!dateOfBirthRegex.test(dateOfBirth)) {
                alert('Por favor, introduce una fecha de nacimiento válida en formato YYYY-MM-DD.');
                return false;
            }

            if (!phoneNumberRegex.test(phoneNumber)) {
                alert('Por favor, introduce un número de teléfono válido.');
                return false;
            }

            alert('Registro exitoso!');
            // Aquí vá el codigo put del code
                return true;
            });
        });
    </script>
</head>
<body>
    {% include 'base/header.html' %}
    <section>
        <form action="submit">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card text-dark" style="border-radius: 1rem; background-color: #737373;">
                            <div class="card-body p-5 text-center">
                                <div class="pb-2">
                                    <h2 class="fw-bold mb-2 text-uppercase">Registro</h2>

                                    <div>
                                        <p class="mb-0"><br>¿Ya tienes Cuenta? <a href="#!" class="text-white-50 fw-bold">Inicia Sesión</a>
                                        </p>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                                <label class="form-label" for="typeUsernameX"><br>Nombre de Usuario</label>
                                                <input type="text" id="username" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeEmailX"><br>Correo Electrónico</label>
                                                    <input type="email" id="email" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typePasswordX"><br>Contraseña</label>
                                                    <input type="password" id="password" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeConfirmPasswordX"><br>Confirmar Contraseña</label>
                                                    <input type="password" id="confirmPassword" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeFirstNameX"><br>Nombre</label>
                                                    <input type="text" id="firstName" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeLastNameX"><br>Apellido</label>
                                                    <input type="text" id="lastName" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeAgeX"><br>Edad</label>
                                                    <input type="number" id="age" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeDateOfBirthX"><br>Fecha de Nacimiento</label>
                                                    <input type="date" id="dateOfBirth" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typePhoneNumberX"><br>Número de Teléfono</label>
                                                    <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                        </div>
    
                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Registrarse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        {% include 'base/footer.html' %}
    </body>
    </html>