{% load static %}
<header class="bg-zinc-800">
    <nav class="navbar navbar-expand-lg p-4" id="navbar-full">
      <div class="navbar-brand container-fluid row justify-content-start d-flex">

        <!-- Ver Carrito Div -->
        <div class="nav-item col-md-4 justify-content-center">
          <button id="cart-button">
            <img src="{% static 'img/cart.1024x777.png' %}" alt="Cart Icon" width="30px" class="h-4 w-4">
              <span class="text-sm">
                <a href="{% url 'carrito' %}">Ver Carrito</a>
              </span>
          </button>
        </div>

        <!-- Logo Div -->
        <div class="nav-item col-md-3 justify-content-center" id="logo-div">
          <button id="logo-button">
            <img src="{% static 'img/Icon-White.png' %}" alt="Logo" width="30px">
              <span class="font-bold text-lg">
                <a href="{% url 'index' %}">Web Click Development</a>
              </span>
          </button>
        </div>

        <!-- Search Product Div -->
        <!-- <div class="nav-item col-md-3" id="search-div">
          <form>
            <input type="text" placeholder="Busca un Producto" class="p-1 h-4" id="search-input">
            <button id="search-button">
                <img src="{% static 'img/magnifying-glass-6x.png' %}" alt="Search Icon" width="20px">
            </button>
          </form>
        </div> -->

        <div class="justify-content-between navbar-collapse col-md-5">
          <ul class="navbar-nav mb-2 mb-lg-0 flex flex-wrap">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'templates' %}">Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Custom Web</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Sobre Nosotros</a>
            </li>

            {% if request.user.is_authenticated %}
              {% if request.user.is_staff %}
                <li>
                  <button class="btn btn-outline-light" id="login-button"><a href="{% url 'panel' %}">Panel</a></button>
                </li>
            {% endif %}
              <li>
                <button class="btn btn-outline-light" id="login-button"><a href="{% url 'logout' %}">Logout</a></button>
              </li>
            {% else %}
              <li>
                <button class="btn btn-outline-light" id="login-button"><a href="{% url 'login' %}">Login</a></button>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
</header>